body{
    background-color: lightgrey;
}

.card {
    box-shadow: 5px 5px 5px 5px grey;
    
    }

.infoGeneral{
    width: 100%;
}



.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .space-evenly { 
    justify-content: space-evenly; 
  }

  @media (max-width:  600px) {
    .card {
       /* width: 100%; */
     margin: auto;
    }
  }